.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  width: 80px;
  height: 80px;
  margin: 1px;

  border: 1px solid gray;

  display: flex;
  justify-content: center ;
  align-items: center;

  font-size: 60px;
}

