
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    background-color: lightblue;
}

header, main, footer {
    width: 800px;
    margin: 10px;
    padding: 30px;

    background-color: white;

    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    margin: 25px;
    color: white;
    background-color: rgb(49, 49, 49);
}

header > h1 {
    text-align: center;
}

header span {
    color: beige;
}

main li {
    padding: 10px;

    border-bottom: 1px solid rgb(193, 193, 201);
}

main li:hover {
    background-color: aliceblue;
}

main a {
    color: black;
}

footer ul {
    display: flex;
    justify-content: end;
}

footer a {
    margin: 5px 10px;
    padding: 10px;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    color: white;
    background-color: rgb(49, 49, 49);
}

footer a:hover {
    background-color: brown;
}

@media screen and (max-width: 860px) {
    header, main, footer {
        width: 90%;
    }
}