header h1 {
    display: inline-flex;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    display: flex;  
    align-items: center;
    
}

header li a {
    margin: 20px;
    color: beige;
}

#name, #msg {
    width: 80%;
    height: 80px;
    margin: 20px;
    border: 1px dotted rgb(54,54,79);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-weight: bold;
}

#name {
    background-color: lightblue;
}

#form1 {
    display: flex;
    flex-direction: column;
    
    width: 80%;
    padding: 10px;
    border: 1px dotted rgb(54,54,79);
}

#form1 > div {
    display:flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin-bottom: 20px;
}