* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Jua", sans-serif;
}

ul {
    list-style: none;
}

header, main, footer {
    width: 84%;
    margin-left: 8%;
    background-color: aliceblue;
    box-sizing: border-box;
}

header {
    padding: 5%;
}

header h1 {
    font-size: 2em;
    text-align: center;
}

header ul {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 2vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header a {
    display: inline-block;
    width: 80px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    text-decoration: none;
    text-align: center;
}

header a:hover {
    background-color: brown;
}

main {
    padding: 2%;
}

article {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

article * {
    margin: 40px 0;
    text-align: center;
}

section {
    margin-bottom: 2vh;
    margin-top: 2vh;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

section h2 {
    width: 170px;
    text-align: center;
}

section > div {
    display: flex;
    justify-content: left;
    align-items: center;
}

section img {
    border-radius: 50%;
    margin: 10px;
}

section p {
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 2% 10%;
}

@media screen and (max-width: 1024px) {
    header, main, footer {
        width: 100%;
        margin-left: 0%;
        box-sizing: border-box;
    }

}