main {
  display: flex;
  overflow-y: auto;
}

#boxMain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

#txt1 {
  padding: 5px;
  font-size: large;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 90%;
  padding: 5px;
}

#btn1, #btn2 {
  width: 20%;
  margin-right: 5px;
}

#content {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imgDiv {
  width: 40%;
  flex-flow: wrap;

  margin: 10px;
  padding: 15px;

  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.imgs {
  width: 100%;
  object-fit:contain;  
}