#boxMain {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 600px;
}

#inDt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dt {
  width: 50%;
  padding: 5px;
  margin: 10px;

  font-weight: bold;
}